.viewport {

    width: 100%;
    display: flex;
    align-content: center;
}

.container {

    display: grid;
    height: 640px;
    width: 640px;
    border-style: solid;
    border-color: black;

}