body {

  
}
.title {
    color: black;
    font-family: 'Calistoga', cursive;
    width: 100%;
    display: flex;
    margin: auto;
    align-content: center;
    justify-content: center;
}

.viewport {

    width: 100%;
    display: flex;
    margin: auto;
    align-content: center;
    justify-content: center;
    background-image: url('pencil.jpg');
    background-size: contain;
}

.container {

    display: grid;
    height: 640px;
    width: 640px;
    border-style: solid;
    border-color: black;

}

.buttons {
    
    width: 640px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    margin: 20px auto auto auto;
   
  

}

button {
    height: 50px;
    font-family: 'Calistoga', cursive;
    font-size: large;

    
}